<ion-header class="ion-no-border" translucent="true" collapse="fade">
	<ion-toolbar>
		<ion-buttons class="btn-container" slot="primary" [routerLink]="['/login']">
			<ion-button fill="clear" class="btn-link btn-auth" size="large">
				Connexion
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="logo">
		<ion-img
			src="../../../../assets/images/logo.png"
			alt="The Wisconsin State Capitol building in Madison, WI at night"
		></ion-img>
	</div>
	<div class="auth-header">
		<h1 class="ion-text-center">INSCRIPTION ICI</h1>
		<h3 class="ion-text-center">Gratuitement</h3>
	</div>
	<ion-card>
		<ion-card-content>
			<ion-input
				mode="md"
				label="Numéro whatsapp"
				label-placement="floating"
				fill="outline"
				placeholder="Entrer le numéro"
			></ion-input>
			<br />
			<ion-input
				mode="md"
				label="Adresse e-mail"
				type="email"
				label-placement="floating"
				fill="outline"
				placeholder="Entrer l'e-mail"
			></ion-input>
			<br />
			<ion-input
				mode="md"
				label="Mot de passe"
				label-placement="floating"
				fill="outline"
				placeholder="Entrer le mot de passe"
			></ion-input>
			<br />
			<ion-input
				mode="md"
				label="Confirmer le mot de passe"
				label-placement="floating"
				fill="outline"
				placeholder="Entrer le mot de passe"
			></ion-input>
			<br />
			<ion-checkbox labelPlacement="end" mode="md"
				>J'accepte les Conditions et termes
			</ion-checkbox>
		</ion-card-content>
	</ion-card>
	<div class="submit">
		<ion-button expand="block">Créer mon compte maintenant</ion-button>
	</div>
</ion-content>
